<div class="box">
    <div class="box-content">
        <p class="text-title">Дабро пожаловать!</p>
        <ul class="box__list">
            <li class="box__item">
                <a href="appeal/view">посмотреть обращения</a>
            </li>
            <li class="box__item">
                <a href="appeal/create">создать обращение</a>
            </li>
        </ul>
    </div>
</div>